<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto mt-5 text-center">
      <h1>{{title}}</h1>
      <form class="mt-4">
        <input type="number" placeholder="Number 1" [(ngModel)]="number1" name="number1" onclick="this.select()"><br><br>
        <input type="number" placeholder="Number 2" [(ngModel)]="number2" name="number2" onclick="this.select()"><br><br>
        <input type="submit" class="submit btn btn-primary btn-sm" value="Addition (+)" (click)="sum()">
        <input type="submit" class="submit btn btn-danger btn-sm" value="Substraction (-)" (click)="sub()">
      </form>
      
      <p class="mt-4">Result: <b>{{result}}</b></p>
    </div>
  </div>
</div>